.App {
  text-align: center;
}

.App-logo {
  height: 1rem;
}

.App-header {
  background-color: #282c34;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 122, 204);
}

.App-link {
  color: #09d3ac;
  font-size: 1rem;
  line-height: 1rem;
}
